@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container
{
    width: 100%;
    min-height: 200vh;
    filter:hue-rotate(35%);
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(https://wallpaperaccess.com/full/3958529.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo
{
    width: 180px;
    cursor: pointer;
}

nav ul
{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li
{
    display:inline-block;
    margin: 10px 20px;
}

a
{
    text-decoration: none;
}

nav ul li a
{
    color: #fff;
}

nav ul li a:hover
{
    color: lightblue;
}

.flex-container
{
    display: flex;
}

.stage
{
    margin-top: 10%;
    margin-left: 10%;
}

.about
{ 
    color: #fff;
    max-width: 620px;
    position: relative;
}

.p-right
{
    margin-left: 3%;
}

.h3-right
{
    margin-left: 2%;
    font-weight: 900;
    font-family: 'Poppins';
}

.btn-explore
{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: crimson;
    color: #fff;
    cursor: pointer;
}
.btn-search
{
    display: flex;
    align-items: center;
    margin-top: 1%;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: green;
    color: #fff;
    cursor: pointer;
}

.btn-search:hover
{
    transform: scale(1.1);
    color: royalblue;
}

.btn-explore img
{
    width: 30px;
    margin-right: 20px;
}

.btn-explore:hover
{
    background: royalblue;
}

.btn-explore:active
{
    background: orange;
}

.content
{
    margin-top: 10%;
    color: #fff;
    max-width: 620px;
}

.content h1
{
    font-size: 70px;
    font-weight: 650;
    line-height: 85px;
    margin-bottom: 25px;
}

.content input
{
    border-radius: 5px;
    margin-top: 1%;
    padding: 6px;
}
