p  {
     color: purple;
	 background: yellow;
	 font-weight: italic;
	 text-align: right;
	 border: double;
	 border-color: grey;
	 border-width: 20px;
	 border-radius: 5px;
}

body {
	background-color: aqua;
}
   