span {
  font-style: Century Gothic;
  text-align: center;
}

.Class_A {
color: crimson;
}

.container {
  position: relative;
  text-align: center;
  color: crimson;
}

.Go Seminoles {
  font-size: 25px;
  position: relative;
  bottom: 10px;
  left: 15px;
}