table {
    border: 5px solid goldenrod;
}

td:hover {
    background-color: yellow;
}

tr, th {
    background-color: purple;
	color: goldenrod;
    padding: 6px 6px 6px;
}

tr, td {
    background-color: goldenrod;
	color: purple;
    padding: 15px 15px 15px;
}