* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 200px;
    height: 180px;
    display: flex;
    overflow-x: scroll;
}

.container .image {
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .image:nth-child(1) {
    background-color: yellow;

}
.container .image:nth-child(2) {
    background-color: green;
}
.container .image:nth-child(3) {
    background-color: purple;
}
.container .image:nth-child(4) {
    background-color: red;
}
.container .image:nth-child(5) {
    background-color: limegreen;
}
.container .image:nth-child(6) {
    background-color: orange;
}